In [1]:
import pandas as pd
import numpy as np
import random

In [13]:
gruppi = pd.read_csv("Gruppi Data Science 2020 - 21 - Foglio1 (1).csv")
gruppi

,Cognome,Nome,Telegram,Anno,Laurea Triennale in,Condizione studente,Machine Learning,Sostenimento (ML),Data Management e Viz,Sostenimento (DM e Viz),Juridical,Statistics,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Bencini,Niccolò,nbencini,2°anno,Economia e Commercio L-33,100% Studente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X=Sto cercando un gruppo
1,Carrasco,Hellem,Hellem26,1° anno,Economia e amministrazione delle imprese,100% Studente,x,Gennaio/Febbraio,x,Gennaio/Febbraio,NaN,NaN,NaN,NaN,NaN
2,Lorgna,Lorenzo,lorenzolorgna,1° anno,Informatica,100% Studente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Caparello,Gaia,Gaia Caparello,1° anno,Economia e Commercio L-33,100% Studente,NaN,NaN,X,Giugno/Luglio,NaN,NaN,NaN,NaN,NaN
4,Messina,Sabrina,totanella,1° anno,Economia Internazionale,100% Studente,NaN,NaN,X,Giugno/Luglio,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Girasoli,Corradino,corgira,1° anno,Intermediari Finanziari (magistrale),100% Lavoratore,X,X,X,X,NaN,X,NaN,NaN,NaN
93,Olzojevs,Artjoms,olzojevs,1° anno,Economia e Amministrazione delle imprese,100% Lavoratore,X,NaN,X,Gennaio/Febbraio,X,X,NaN,NaN,NaN
94,Distrutti,Marco,Marco Distrutti,2°anno,Informatica,50% Studente - 50% Lavoratore,X,Gennaio/Febbraio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Colzani,Cesare,Cesare Colzani,1 anno,Economia,NaN,X,Gennaio/Febbraio,X,Gennaio/Febbraio,NaN,X,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gennaio/Febbraio,NaN,NaN,NaN,NaN,NaN

In [14]:
#split in months
gennaiofebML =gruppi[gruppi['Sostenimento (ML)'] == 'Gennaio/Febbraio']
gennaiofebDataMan = gruppi[gruppi['Sostenimento (DM e Viz)'] == 'Gennaio/Febbraio']
giugnlugML =gruppi[gruppi['Sostenimento (ML)'] == 'Giugno/Luglio']
giugnlugDataMan = gruppi[gruppi['Sostenimento (DM e Viz)'] == 'Giugno/Luglio']

In [15]:
#split in groups
gruppiMLgenfeb= gennaiofebML[(gennaiofebML['Machine Learning'] == 'X') | (gennaiofebML['Machine Learning'] == 'X')]
gruppiDataMangenfeb= gennaiofebDataMan[(gennaiofebDataMan['Data Management e Viz '] == 'X') | (gennaiofebDataMan['Data Management e Viz '] == 'X')]
gruppigiugnlugML= giugnlugML[(giugnlugML['Machine Learning'] == 'X') | (giugnlugML['Machine Learning'] == 'x')]
gruppigiugnlugDataMan= giugnlugDataMan[(giugnlugDataMan['Data Management e Viz '] == 'X') | (giugnlugDataMan['Data Management e Viz '] == 'X')]
gruppistat= gruppi[(gruppi['Statistics']=='X') | (gruppi['Statistics']=='x')]
gruppisocial= gruppi[(gruppi['Juridical ']=='X') | (gruppi['Juridical ']=='x')]

In [16]:
listaMLgf=list(gruppiMLgenfeb['Telegram'])
listadmvgf=list(gruppiDataMangenfeb['Telegram'])
listastat=list(gruppistat['Telegram'])
listasocial=list(gruppisocial['Telegram'])
listaMLgiulu=list(gruppigiugnlugML['Telegram'])
listadmvgiulu=list(gruppigiugnlugDataMan['Telegram'])

datamanevizgf={}
datamanevizgl={}
machinelearning={}
statistica={}
social={}
mlgf={}
mlgl={}


def gruppifun(list,dizionario,number):
    res = [ele for ele in list]
    n_groups = int(len(list)/number)
    for i in range(0,n_groups):
        dizionario[i] = np.random.choice(res,number,replace=False)
        for value in dizionario.get(i):
            if value in res:
                res.remove(value)
    if ((len(list)%2 != 0) or ((len(list)/number)%2 != 0)):
        print(f" mi dispiace {res} ma sei rimasto da solo")
    return dizionario

In [17]:
#Gruppi Machine Learning per Giugno Febbraio
gruppifun(listaMLgf,mlgf,4)

{0: array(['Sfiber_17', 'Claudius9f', 'Maur02', 'Marco Distrutti'],
       dtype='<U15'),
 1: array(['luca_maggi', 'done96', 'm_marti92', 'Matteo Cesaro'], dtype='<U15'),
 2: array(['MiryamBaryoli', 'Gabriele Pagani', 'Matteo', 'jmarcozzi'],
       dtype='<U15'),
 3: array(['Elodie_username', 'davide', 'Alice910', 'Cesare Colzani'],
       dtype='<U15')}

In [18]:
#Gruppi Data Man per Gennaio Febbraio
gruppifun(listadmvgf,datamanevizgf,3)

 mi dispiace ['jmarcozzi', 'olzojevs'] ma sei rimasto da solo

{0: array(['GiadaVigorito', 'Daniele', 'Maur02'], dtype='<U16'),
 1: array(['Venturovic', 'm_marti92', 'Donzish'], dtype='<U16'),
 2: array(['Monica Vivace ', 'Cesare Colzani', 'cicciospampinato'],
       dtype='<U16'),
 3: array(['Lucaguid8', 'done96', 'Claudius9f'], dtype='<U10')}

In [19]:
#Gruppi Statistica
gruppifun(listastat,statistica,2)

 mi dispiace [] ma sei rimasto da solo

{0: array(['Matteo', 'Vito Francone'], dtype='<U20'),
 1: array(['MiryamBaryoli', 'gretav29'], dtype='<U20'),
 2: array(['corgira', 'huaman10'], dtype='<U20'),
 3: array(['camilladibartolomeo', 'Yousef Bahri'], dtype='<U20'),
 4: array(['Francesco Martinelli', 'olzojevs'], dtype='<U20'),
 5: array(['Cesare Colzani', 'gabriele strano'], dtype='<U15'),
 6: array(['m_marti92', 'Monica Vivace '], dtype='<U14')}

In [20]:
#Gruppi social issues
gruppifun(listasocial,social,2)

{0: array(['ChristianInterno', 'olzojevs'], dtype='<U20'),
 1: array(['DanQ98', 'elenoire1311'], dtype='<U20'),
 2: array(['Marco_Brn', 'CristianoRuttico'], dtype='<U20'),
 3: array(['Francesco Martinelli', 'stefanomarzo'], dtype='<U20'),
 4: array(['Angelica Barrion', 'Adele Zanfino'], dtype='<U16'),
 5: array(['Yousef Bahri', 'jmarcozzi'], dtype='<U12')}

In [23]:
#Gruppi Data Man e Viz Giugno Luglio
gruppifun(listadmvgiulu,datamanevizgl,3)

 mi dispiace ['camilladibartolomeo', 'Laura Cavenati'] ma sei rimasto da solo

{0: array(['Raffaele Moretti', 'davide', 'Claudio97'], dtype='<U19'),
 1: array(['Sfiber_17', 'ildandi97', 'Matteo'], dtype='<U19'),
 2: array(['MiryamBaryoli', 'Vito Francone', 'Alice910'], dtype='<U19'),
 3: array(['totanella', 'Andrea', 'Gaia Caparello'], dtype='<U19')}

In [22]:
#Gruppi Machine Learning Giugno Luglio
gruppifun(listaMLgiulu,mlgl,3)

 mi dispiace [] ma sei rimasto da solo

{0: array(['Claudio97', 'Monica Vivace ', 'GiadaVigorito'], dtype='<U14')}